rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permet la lecture et l'écriture pour l'application de gestion avicole
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
